
# Maven
log/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

.metadata/
RemoteSystemsTempFiles/
Servers/

/**/target/

/**/.settings/
/**/*.project
/**/*.classpath
/**/*.idea/
/**/*.svn/

# Intellij
*.iml
*.iws

# Mac
.DS_Store

# package managers
/**/node_modules
/**/bower_components
/**/config.properties
/**/META-INF/context.xml