
<select title="Filtro de Autorizador" class="browser-default" ng-model="sel" ng-change="cambio()" ><!--watch--> <!--material-select-->
    <option value="" selected>Todos los Autorizadores</option>
    <option ng-repeat="val in values" value="{{val.codigo}}">{{val.nombre}}</option>

</select>


<div class="chip blue-grey lighten-4" ng-repeat="item in items "><!-- track by $index -->
    {{item.nombre}}
    <i class="material-icons mdi-navigation-close" ng-click="delete(item.codigo)"></i>
</div>
