
<select title="Filtro de Autorizador" class="browser-default" ng-model="selCan" ng-change="cambioCan()" ><!--watch--> <!--material-select-->
    <option value="" selected>Todos los Canales</option>
    <option ng-repeat="val in valuesCan" value="{{val.codigo}}">{{val.nombre}}</option>

</select>


<div class="chip blue-grey lighten-4" ng-repeat="item in itemsCanal "><!-- track by $index -->
    {{item.nombre}}
    <i class="material-icons mdi-navigation-close" ng-click="deleteCan(item.codigo)"></i>
</div>
